Source: mozjpeg
Maintainer: Stefano Rivera <stefanor@ubuntu.com>
Section: misc
Priority: optional
Build-Depends:
 autotools-dev,
 debhelper (>= 9.20160115),
 dh-autoreconf,
 libpng-dev,
 nasm,
 pkg-config,
 rename,
 zlib1g-dev
Standards-Version: 4.3.0
Homepage: https://github.com/mozilla/mozjpeg

Package: mozjpeg
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Mozilla JPEG Encoder Project
 MozJPEG reduces file sizes of JPEG images while retaining quality and
 compatibility with the vast majority of the world's deployed decoders.
 .
 MozJPEG is based on libjpeg-turbo. This project aims to keep differences with
 libjpeg-turbo minimal. It's compatible with libjpeg API and ABI, and can be
 used as a drop-in replacement for libjpeg. MozJPEG makes tradeoffs that are
 intended to benefit Web use cases and focuses solely on improving encoding, so
 it's best used as part of a Web encoding workflow.
 .
 MozJPEG is meant to be used as a library in graphics programs and image
 processing tools. There is a demo cjpeg tool included, but it's not intended
 for serious use. Authors of graphics programs are encouraged to use MozJPEG's
 C API instead.
